<%- include('layout/header') %>
<%- include('layout/style') %>

  <% if (users!='') { %>
    <div class="main-container">
   <div class="data-table">
    <% if (message) { %>
        <div class="alert alert-warning alert-dismissible fade show alert-<%= message.type %>" role="alert" >
          <strong><%= message.message %></strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
            <div class="table" >
                <table  id="example">
                    <thead>
                        <tr>
                            <th>SR.NO</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                         <% users.forEach((row,index) => { %>
                             <tr>
                           
                            <td><%= index+1 %></td>
                            <td><%= row.name %></td>
                            <td><img src="<%= row.image %>" alt="" id="img-profile"></td>
                            <td><%= row.email %></td>
                            <td><%= row.address %></td>
                            <td><%= row.phone %></td>
                            <td>
                                <a href="/edit/<%= row._id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="/delete/<%= row._id %>"><i class="fa-solid fa-trash"></i></a>
                            </td> 
                          
                         <% }) %>








                        <!-- <tr>
                             ====old way
                            <td>1</td>
                            <td>Xyz</td>
                            <td><img src="" alt="" srcset=""></td>
                            <td>Xyz@gmail.com</td>
                            <td>lane no.2</td>
                            <td>97776542</td>
                            <td>
                                <a href="http://"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="http://"><i class="fa-solid fa-trash"></i></a>
                            </td> --> 


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
       
  <% }else{%>
    <h1>No User found in the database</h1>
    <%  }  %>
    



<%- include('layout/footer') %>
